body {
    background-color: greenyellow;
    margin:0;
    padding: 12px;
}

.obj-1{
    margin: 12px;
    background-color: blue;
    border: 1px solid black;
}
.obj-2{
    margin: 12px;
    background-color: aquamarine;
    border: 1px solid rebeccapurple;
}

.pie {
    padding: 27px;
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.cuerpo {
    padding: 12px;
    width: 100%;
    background-color: red;
}
.interior {
    display: inline-block;
    background-color: grey;
}
.cuerpo div {
    padding: 12px;
    margin:4px;
    background-color: blueviolet;
    display: inline-block;
}
.columna{
    background-color: yellow;
    width: 30%;
}

