.obj-1{
    margin: 12px;
    background-color: blue;
}
.obj-2{
    margin: 12px;
    background-color: aquamarine;
}

.pie {
    padding: 27px;
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.cuerpo {
    padding: 12px;
    width: 100%;
    background-color: red;
}

.cuerpo div {
    padding: 12px;
    margin:4px;
    background-color: blueviolet;
    display: inline-block;
}

